<%form_for @post, :url => url_for('proc_form') do |f|%>
  <p>
    <%=f.label :subject%><br/>
    <%=f.text_field :subject%>
  </p>
  
  <p>
    <%= f.select :subscribers, [["one", '1'], ['two', '2']] %>
  </p>
<%end%>
